.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  /*border: 1px solid green;*/
}

.text {
}

