.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main {
  position: relative;
}

.grid {
  /*position: relative;*/
}

#iframe-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: .75vmin;
  transition: opacity 2s;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(.99, .99)translateY(.6%);
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  transition: opacity 2s;
  transition: transform 2s;
}

.hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
}

.active {
  opacity: 1;
  transform: scale(1);
}

#drive {
  transform: scale(1.26);
}

#adex {
  transform: scale(1.04);
}
