.App {
  width: 100vw;
  height: 100vh;
  /*min-width: 585px;*/
  /*min-height: 480px;*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main {
  position: relative;
}

#iframe-container {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: .75vmin;
  transition: opacity 2s;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  transition: opacity 2s;
  transition: transform 2s;
}

.hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
}

.active {
  opacity: 1;
  transform: scale(1);
}

#drive {
  transform: scale(1.26);
}

#adex {
  transform: scale(1.04);
}








#button-box {
  position: absolute;
  /*display: flex;*/
  /*flex-flow: column nowrap;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*overflow: hidden;*/
  /*border-radius: .75vmin;*/
  /*opacity:*/
  z-index: 20;
  /*transition: opacity 2s;*/
}


button {
  position: absolute;
  top: -2vmin;
  width: 6vmin;
  height: 6vmin;
  border-radius: 3vmin;
  z-index: 20;
  font-family: helvetica;
  font-weight: 400;
  font-size: 4vmin;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  background-color: #333333;
  opacity: .8;
}

#iframe-exit {
  left: -2vmin;
}

#iframe-link {
  right: -2vmin;
}




/*  width: calc(100% - 1vmin);
  height: calc(100% - 1vmin);*/
  /*box-shadow: 0 0 2vmin 1vmin rgba(0, 0, 0, 1);*/

  /*position: absolute;*/
  /*border-radius: 1vmin;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*margin: 5vmin;*/
  /*z-index: 5;*/
  /*border: 2px solid blue;*/
  /*opacity: .5;*/

/*text {*/
  /*text-shadow: 1px 1px 2px #000000;*/
/*}*/



/*
.project {
  position: absolute;
  transition: opacity 1s;
  top: 0;
  height: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.iframe {
  width: 100%;
  height: 100%;
  transform: scale(.75);
  border: none;
}

#drive {
  position: absolute;
  width: 100%;
  height: 56.25%;
  height: 80%;
  border: 1px solid green;
}

.project > button {
  position: absolute;
  top: -2vmin;
  width: 6vmin;
  height: 6vmin;
  border-radius: 3vmin;
  z-index: 20;
  font-family: helvetica;
  font-weight: 400;
  font-size: 4vmin;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  background-color: #333333;
  opacity: .8;
}

.project > .iframe-exit {
  left: -2vmin;
}

.project > .iframe-link {
  right: -2vmin;
}

*/
