.App {
  width: 100vw;
  min-width: 550px;
  height: 100vh;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  /*border: 1px solid green;*/
}

text {
  /*filter: drop-shadow(1px, 1px, 1px, #ffffff);*/
  text-shadow: 1px 1px 2px #000000;
}

