#App {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}


#Main {
  position: relative;
  width: calc(100% - 5vmin);
  height: calc(100% - 5vmin);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}


#Grid {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .1s ease;
}

#Grid * {
  position: absolute;
  font-size: inherit;
  color: #4A4B4D;
  text-align: center;
  background-color: rgba(0,0,0,0);
  /*transition: opacity 10ms;*/
}

#Grid .invisible {
  /*opacity: 0;*/
  background-color: purple;
  /*transition: opacity 200ms;*/

}
