#App {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}



#Main {
  position: relative;
  width: calc(100% - 5vmin);
  height: calc(100% - 5vmin);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}



#Grid {
  position: absolute;
  width: 100%;
  height: 100%;
}
