#App {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}



#Main {
  position: relative;
  width: calc(100% - 5vmin);
  height: calc(100% - 5vmin);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#Main.mobile {
  width: 100%;
  height: 100%;
  user-select: none !important;
}



#Grid {
  position: absolute;
  width: 100%;
  height: 100%;
}

#Grid>.cel {
  position: absolute;
  /*width: var(--cel-width);*/
  /*width: var(--cel-height);*/
  font-size: inherit;
  color: #4A4B4D;
  text-align: center;
  background: transparent;
  z-index: 200;
}

#Grid>.cel.menu {
  cursor: alias;
}

#Grid>.cel.projects {
  cursor: zoom-in;
}

#Grid>.cel.links, #Grid>.cel.info {
  cursor: pointer;
}

#Grid>.cel.contact {
  cursor: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  user-select: text;
}

#Grid>.cel.iframe {
  cursor: alias;
}



#IframeBox {
  position: absolute;
  border-radius: .5vmin;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
  transform: scale(0);
  transition: opacity 1s ease, transform 1s ease;
}

#IframeBox>iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
