.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main {
  position: relative;
}

#container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: .75vmin;
  transition: opacity 2s;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(.99)translateY(2px);
}

#iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  transition: opacity 2s;
  transition: transform 2s;
  transform: scale(1);
}

.hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(0) !important;
}

.active {
  opacity: 1;
}

.drive {
  transform: scale(1.26) !important;
}

.adex {
  transform: scale(1.04) !important;
}
