.App {
  width: 100vw;
  height: 100vh;
  min-width: 550px;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
}

text {
  /*text-shadow: 1px 1px 2px #000000;*/
}

.iframe-container {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 2s;
  overflow: hidden;
  /*padding: -5vmin;*/

  /*background-color: rgba(255, 255, 255, .1);*/
  background-color: rgba(0, 255, 0, 1);
  box-shadow: 0 0 2vmin 1vmin rgba(0, 0, 0, .5);

  /*border: 1px solid green;*/
}



iframe {
  border: none;
  position: relative;
  width: 100%;
  height: 100%;



/*  width: calc(100% - 1vmin);
  height: calc(100% - 1vmin);*/
  /*box-shadow: 0 0 2vmin 1vmin rgba(0, 0, 0, 1);*/

  /*position: absolute;*/
  /*border-radius: 1vmin;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*margin: 5vmin;*/
  /*z-index: 5;*/
  /*border: 2px solid blue;*/
  /*opacity: .5;*/
}

.drive {
  transform: scale(1.225);
  /*width: 150%;*/
  /*height: 150%;*/

}




/*
.project {
  position: absolute;
  transition: opacity 1s;
  top: 0;
  height: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.iframe {
  width: 100%;
  height: 100%;
  transform: scale(.75);
  border: none;
}

#drive {
  position: absolute;
  width: 100%;
  height: 56.25%;
  height: 80%;
  border: 1px solid green;
}

.project > button {
  position: absolute;
  top: -2vmin;
  width: 6vmin;
  height: 6vmin;
  border-radius: 3vmin;
  z-index: 20;
  font-family: helvetica;
  font-weight: 400;
  font-size: 4vmin;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  background-color: #333333;
  opacity: .8;
}


.project > .iframe-exit {
  left: -2vmin;
}

.project > .iframe-link {
  right: -2vmin;
}

*/
