.App {
  width: 100vw;
  height: 100vh;
  min-width: 550px;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
}

text {
  /*text-shadow: 1px 1px 2px #000000;*/
}

.project {
  position: absolute;
  transition: opacity 1s;
  top: 0;
  height: 0;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.project > button {
  position: absolute;
  top: -2vmin;
  width: 6vmin;
  height: 6vmin;
  border-radius: 3vmin;
  z-index: 20;
  font-family: helvetica;
  font-weight: 400;
  font-size: 4vmin;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  background-color: #333333;
}


.project > .iframe-exit {
  left: -2vmin;
}

.project > .iframe-link {
  right: -2vmin;
}

