#App {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#Main {
  position: relative;
  width: calc(100% - 5vmin);
  height: calc(100% - 5vmin);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  /*overflow: hidden;*/
  /*background-color: rgba(0,255,0,.2);*/

  /*background-color: green;*/
}

#Grid {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .1s ease;
  /*background-color: purple;*/
  /*margin-top: .2vmin;*/
  /*background-color: rgba(255,0,0,.3);*/
}

#Grid * {
  position: absolute;
  font-size: inherit;
  color: #4A4B4D;
  text-align: center;
  background-color: rgba(0,0,0,0);
}
