.App {
  width: 100%;
  height: 100%;
  /*width: 100vw;*/
  /*height: 100vh;*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*border: 1px solid green;*/
}

.main {
  /*position: relative;*/
  /*margin: 1vh 0;*/
}

.grid {
  /*position: relative;*/
}
