.App-mobile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.App-mobile p {
  padding: 1vmin;
  font-size: 6vmin;
}

.App-mobile .main {
  padding: 10vmin 0;
  width: 95vw;
  height: auto;
}

.App-mobile .sub {
  padding: 10vmin 5vmin;
}

.App-mobile .list {
  padding: 0 5vmin;
}
