.App {
  width: 100%;
  /*height: 100%;*/
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /*justify-content: center;*/
  overflow: hidden;
}

.main {
  /*position: relative;*/
  /*margin: 1vh 0;*/
}

.grid {
  /*position: relative;*/
}
