* {
  margin: 0;
  padding: 0;
  /*background-color: #202225;*/
  background-color: #1A1C1E;
  font-family: 'Courier New', 'Courier', monospace;
  font-weight: 100;
}

body {
  overflow: hidden;
}

#grid p {
  position: absolute;
  font-size: inherit;
  color: #4A4B4D;
  text-align: center;
  background-color: rgba(0,0,0,0);

  /*transition: all 15ms;*/
  /*transition-delay: 1s;*/
}



#grid {

}

